* {
	font-family: Verdana;
}

div {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 20px;
}

table {
	border: 2px;
	border-color: black;
	border-style: dashed;
	height: 300px;
	width: 300px;
}

td {
	border: 1px;
	border-color: black;
	border-style: solid;
}